/* Jumbotron Section */
.jumbotron {
  padding-top: 6rem;
  background-color: #d5f1e8;
}

body {
  overflow-x: hidden;
  background-color: #21251f;
}
img {
  background-size: cover;
  width: 200px;
}

section {
  padding-top: 6rem;
}
.navbar-brand {
  font-size: 1.8rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-shadow: 0 2px 6px rgba(0, 0, 0, 0.75);
  color: antiquewhite;
}
.card {
  box-shadow: 2px 2px 3px rgb(255, 255, 255), -1px -2px 3px rgb(255, 255, 255);
}
.card-img-top {
  width: 100%;
}
.gallery-img {
  width: 100%;
}
#gallery .row > * {
  padding: 0;
}
#gallery {
  margin-top: -220px;
}
h2 {
  text-shadow: 2px 3px 3px rgb(222, 199, 122);
  font-weight: bold;
  font-size: 2.2rem;
  color: rgb(255, 255, 255);
}
.socialMedia {
  margin-top: -10px;
}
.socialMedia a {
  padding-right: 10px;
  font-size: 1.2rem;
  color: rgb(254, 254, 189);
  transition: 5ms ease-in;
}
.socialMedia a:hover {
  color: rgb(110, 233, 255);
}
