/* Jumbotron Section */
.jumbotron {
  padding-top: 6rem;
  background-color: #d5f1e8;
}

body {
  overflow-x: hidden;
  background-color: #eaeaea;
}
img {
  background-size: cover;
  width: 200px;
}

#projects {
  background-color: #ffffff;
}
section {
  padding-top: 6rem;
}
.navbar-brand {
  font-size: 1.8rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-shadow: 0 2px 6px rgba(0, 0, 0, 0.75);
  color: antiquewhite;
}
.card {
  box-shadow: 1px 2px 3px black, -1px -2px 3px black;
}
.card-img-top {
  width: 100%;
}
.gallery-img {
  width: 100%;
}
#gallery .row > * {
  padding: 0;
}
#gallery {
  margin-top: -220px;
}
h2 {
  text-shadow: 2px 3px 3px rgb(0, 0, 0);
  font-weight: bold;
  font-size: 2.2rem;
  color: white;
}
