/* Jumbotron Section */
.jumbotron {
  padding-top: 6rem;
  background-color: #fffab5;
}
html,
body {
  max-width: 100%;
  padding: 0;
  overflow-x: hidden;
  background: linear-gradient(140deg, #fffab5, #c3fa9d, #88f2a3);
}
img {
  background-size: cover;
  width: 200px;
}

#projects {
  background-color: #fffab5;
}
section {
  padding-top: 6rem;
}
.navbar-brand {
  font-size: 1.8rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-shadow: 0 2px 6px rgba(0, 0, 0, 0.75);
  color: antiquewhite;
}
.card {
  box-shadow: 1px 2px 3px black, -1px -2px 3px black;
}
.card-img-top {
  width: 100%;
}

* {
  padding: 0;
}
